#root{
   background-image: url('background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
.App {
  background-image: url('background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
 
}
hr{
  border: 2px solid brown;
  width: 100%;
}
.container{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputData{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  border: 1px solid brown;
  padding: 30px;
backdrop-filter: blur(5px);
box-shadow: 2px 0px 5px gray;
border-radius: 20px;
}
input{
  padding: 5px 10px;
  font-size: 18px;
}
h1{
  backdrop-filter: blur(5px);
  width: 100%;
  color: rgb(212, 7, 75);
}
table{
  background-color: transparent;
  display: inline;

}
.summary{
  background: white;
    backdrop-filter: blur(10px);
    color: black;
    padding: 8px 10px;
}

